body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 40px 0;
}

h2 {
  font-size: 28px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project {
  width: calc(100%);
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form textarea {
  height: 100px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.inner-project-container {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 82%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.project:hover .overlay {
  display: flex;
  opacity: 1; /* Show the overlay on hover */
}

#skills {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  line-height: 1.5;
}

.skills-list li::before {
  content: "▹"; /* Unicode bullet character */
  position: absolute;
  left: 0;
  color: #3498db;
}

#openScene{
  background-image: url("me.jpg");
}

p{
  font-size: large;
}

.introduction{
  white-space: pre-wrap;
}